@charset "utf-8";
/* CSS Document */

fieldset{
	margin: 40px 110px 40px 110px;
	border: 2px groove rgb(157, 193, 236);
}

fieldset legend{
	font-weight: bolder;
}

#map p{
	font-weight: 700;
	line-height: 150%;
}

#map iframe{
	border: 2px groove rgb(157, 193, 236);
}

form{
	display: block;
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom:20px;
}