@charset "utf-8";
/* CSS Document */

#content h4{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 20px;
}

#content p{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: justify;
	margin: 20px;
}

#contacts2 p{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 30px;
}