@charset "utf-8";
/* CSS Document */

/* Makeshift CSS reset */
{
	margin: 0;
	padding: 0;
}

article, aside, footer, header, main, nav, section, div{
	display: block;
}

body{
	font-family: Helvetica, sans-serif;
	color: rgba(47,31,15,1);
	background: url(../_images/poster2011.jpg) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

/* Main Interface */

div#interface{
	width:940px;
	background-color: rgba(239, 222, 205,.8);
	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0, .5);
	border: 1px solid rgb(141, 94, 46, 1);
	border-radius: 50px;
}

/* Interface Header */

header#mainH{
	background-color: #fff;
	height:130px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

img#icon{
	position: relative;
	left: 60px;
	top: 2px;
}

img#title{
	position: relative;
	left: 80px;
	top: -15px;
}

header#mainH div{
	position: relative;
	left: 730px;
	top: -95px;
	color: rgba(47,31,15,1);
	font-family: Arial, sans-serif;
	font-size:11px;
}

/* Navigation Menu */

nav#menu{
	background: rgb(198, 136, 74);
	position: absolute;
	height: 27px;
	width: 940px;
	border-top: 1px solid rgb(141, 94, 46);
	border-bottom: 1px solid rgb(141, 94, 46);
	z-index: 1;
}

nav#menu li{
	text-transform: uppercase;
	background: rgb(198, 136, 74);
	border: 1px solid rgb(141, 94, 46);
	list-style: none;
	position: relative;
	float: left;
	left: -16px;
	top: -14px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 1px;
	//padding-bottom: 1px;
	color: rgb(47, 31, 15);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left:20px;
	margin-right: auto;	
}

nav#menu ul li a{
	color: #fff; 
	text-align: center;	
	text-decoration: none;
	display: block;
	font-weight: 700;	
}

#menu ul ul{
	position: absolute;
	top: -1px;
	visibility: hidden;
}

#menu ul ul li{
	top: 22px;
	left: -73px;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#menu ul li:hover ul{
	visibility: visible;
}

#menu ul li:hover{
	background: rgb(47, 31, 15);	
}

/* MAIN */

div#content{
	display: table;
}

/* Left Side */

div#mainContent{
	display: table-cell;
	width: 620px;
	padding: 10px;
	
}

section#intro{
	position: relative;
	left:1px;
	top: 32px;
	//padding: 44px;
	background: url(../_images/foto1.jpg) top right no-repeat;
	background-size: 100%;
	width: 618px;
	height: 337px;
	border-radius: 22px;
	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;
	
	/* Border-radius not implemented yet */
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
}

/*
section#intro h2, #intro p{
	width: 336px;
}

section#intro h2{
	padding: 0 0 22px 0;
	font-weight: normal;
	color: #ffffff;
}

section#intro p{
	padding: 0;
	color: #000;
}
*/

.blogpost{
	display: block;
	position: relative;
	top: 30px;	
}

.blogpost h2{
	line-height: 0%;
}

.sig{
	line-height: 0%;
	font-style:italic;	
	color: rgb(47, 31, 15);
}

.sig a{
	font-style:italic;	
	color: rgb(141, 94, 46);
}

.sig a:hover{
	text-decoration: none;
	color: rgb(47, 31, 15);
}

.selected a{
	color: rgb(47, 31, 15);
}

.blogpost p{
	color: rgb(47, 31, 15);
	text-align: justify;
}	

article.blogpost div{
	text-justify: auto;
	column-count: 2;
	column-gap: 22px;
	
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
 
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
}

article.blogpost img{
	width: 294px;
	height: 296px;
	margin-top: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0, .5);
	border: 1px solid rgb(141, 94, 46, 1);
}

#comments{
	position: relative;
	top: 40px;
	padding-bottom: 0px;
}

#comments h3{
	margin-bottom: 0px;
}
	
section#comments article:nth-child(2n+1){
	background: rgba(198, 136, 74, .3);
	border: 1px solid rgb(141, 94, 46);
	border-radius: 11px;
}

section#comments article{
	padding: 20px;
}
	
section#comments{
	border-top: 1px solid rgb(141, 94, 46);
	border-bottom: 1px solid rgb(141, 94, 46);
	
}

form{
	position: relative;
	top: 40px;
	margin-bottom:50px;
}

form input, texarea{
	padding-right: 0px;
}

#button{
	text-align: center;
	border-radius: 3px;
}

table#tabelaspec{

	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;	
}

table#tabelaspec td{
	padding: 10px;
	text-align: right;
	vertical-align: top;
}

table#tabelaspec td.ce{
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd{
	text-align: left;
}

/* ASIDE */

aside{
	display: table-cell;
	width: 300px;
	border-left: 1px solid rgb(141, 94, 46);
	background: linear-gradient(left, rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
	background: -webkit-linear-gradient(left, rgba(198, 136, 74, .3), rgba(239, 222, 205,.7));
	background: -o-linear-gradient(left, rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
	background: -moz-linear-gradient(left, rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
}

.asar{
	top: -290px;
	position: relative;
	margin: 10px;
	border-radius: 11px;
	padding: 20px;
	padding-top: 10px;
	background: linear-gradient(left top , rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
	background: -webkit-linear-gradient(left top, rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
	background: -o-linear-gradient(top left, rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
	background: -moz-linear-gradient(top left, rgba(198, 136, 74, .4), rgba(239, 222, 205,.8));
}

.asar ul{
	padding-left: 30px;
	list-style-type: none;
}

.asar a{
	color: #000;
	text-decoration: none;	
}

.asar a:hover{
	color: #000;
	text-decoration: underline;
}

.asar img{
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

/* FOOTER*/

footer{
	background-color: rgb(30, 14, 0);
	position: relative;
	//width: 100%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

footer h3{
	color: #fff;
}

footer p{
	color: #fff;
}


footer a{
	font-style:italic;	
	color: rgb(141, 94, 46);
}

footer a:hover{
	text-decoration: none;
	color: #fff;
}

div#upfoot{
	display: table;
	width: 940px;	
}

.upart{
	display: table-cell;
	width:200px;
	padding: 40px;
	padding-bottom: 0px;
}

#pop {
	color: rgba(239, 222, 205,.8);
}

.upart nav ul{
	padding-left: 40px;
	line-height: 100%;
	list-style: square;
	
}

div#lowfoot p{
	text-align: center;
	padding-bottom: 30px;
}

	
	



