@charset "utf-8";
/* CSS Document */

/* Makeshift CSS reset */
*{
	margin: 0;
	padding: 0;
}

article, aside, footer, header, main, nav, section, div{
	display: block;
}

body{
	font-family: Helvetica, sans-serif;
	color: #003;
	background: url(../_images/poster2011.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

/* Main Interface */

div#interface{
	width:980px;
	background-color: rgba(227, 243, 246,.8);
	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0, .7);
	border: 1px solid rgb(46, 108, 186);
	border-radius: 100px;
}

/* Interface Header */

header#mainH{
	background-color: #fff;
	height:180px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}

.icon{
	position: relative;
	left: 55px;
	top: 0px;
	border-radius: 50px;
}

#centH{
	position: relative;
	width: 450px;
	left: 250px;
	top: -180px;
	font-family: "Century Schoolbook L", serif;
	text-align: center;
	//line-height: 20%;
}

#centH h1{
	font-size: 46pt;
}

#centH h3{
	font-size: 26pt;
}

#centH p{
	font-size: 16pt;
}

#contacts {
	position: relative;
	left: 740px;
	top: -322px;
	font-family: Arial, sans-serif;
	font-size:12px;
	/*line-height: 160%;*/
}

.logos{
	position: relative;
	left: 10px;
	border-radius: 5px;
}

#contacts img{
	border-radius: 4px;
}



/* Navigation Menu */

nav#menu{
	background: rgb(23, 54, 93);
	position: relative;
	height: 30px;
	width: 980px;
	border-top: 1px solid rgb(46, 108, 186);
	border-bottom: 1px solid rgb(46, 108, 186);
}


nav#menu li{
	text-transform: uppercase;
	background: rgb(23, 54, 93);
	border: 1px solid rgb(46, 108, 186);
	list-style: none;
	position: relative;
	float: left;
	left: 45px;
	top: 4px;
	width: 150px;
	//padding-left: 12px;
	//padding-right: 12px;
	padding-top: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left:20px;
	margin-right: auto;	
}

nav#menu ul li a{
	color: #fff; 
	text-align: center;	
	text-decoration: none;
	display: block;
	font-weight: 700;	
}

#menu ul ul{
	position: absolute;
	top: -50px;
	visibility: hidden;
	z-index: 100;
}

#menu ul ul li{
	top: 72px;
	left: -21px;
	//padding-left: 12px;
	//padding-right: 12px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#menu ul li:hover ul{
	visibility: visible;
}

#menu ul li:hover{
	background: #003;	
}

/* MAIN */

div#content{
	display: table;
	position: relative;
	//border: 1px dashed red;
}

/* Left Side */

div#mainContent{
	display: table-cell;
	width: 680px;
	//border: 1px dashed green;
	
}

#aux{
	position: relative;
	//top: 30px;
	border-radius: 55px;
	background: rgba(239, 222, 205,.0);
	//border: 1px dashed #FF3399;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;	
}

#intro{
	position: relative;
	left: 18px;
	top: -380px;
}

#intro div{
	position:absolute;
	//left: 0px;
	//top: 5px;
}

#intro div.prev{
	z-index:1;
}

#intro div.active{
	z-index:2;
}

#intro img{
	width:681;
	height:372;
	border-radius: 25px;
	border: 2px solid rgb(157, 193, 236);
	//border: 2px solid rgb(256, 256, 256);
	//border: 2px solid rgba(47,31,15,1);
	
	/* Border-radius not implemented yet */
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	z-index: 3;
}

.blogpost{
	position: relative;
	//top: 60px;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;	
}

.blogpost h2{
	//line-height: 90%;
}

.sig{
	line-height: 60%;
	font-style:italic;	
	color: rgb(23, 54, 93);
	padding-bottom: 15px;
}

.sig a{
	font-style:italic;	
	color: rgb(46, 108, 186);
}

.sig a:hover{
	text-decoration: none;
	color: rgb(23, 54, 93);
}

.selected a{
	color: rgb(23, 54, 93);
}

.blogpost p{
	color: rgb(23, 54, 93);
	text-align: justify;
}	

.arttxt{
	text-justify: auto;
	column-count: 2;
	column-gap: 22px;
	
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
 
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
	height: 600px;
}

.blogpost img{
	width: 320px;
	height: 320px;
	margin-top: 10px;
	margin-left: 4px;
	margin-bottom:10px;
	box-shadow: 0px 0px 10px rgba(0,0,0, .5);
	border: 1px solid  rgb(157, 193, 236);
}

#comments{
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:20px;
}

#comments h3{
	margin-top: 20px;
}
	
section#comments article:nth-child(2n+1){
	background:rgba(157, 193, 236,.4);
	border: 1px solid  rgb(46, 108, 186);
	border-radius: 11px;
}

section#comments article{
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
section#comments{
	border-top: 1px solid  rgb(46, 108, 186);
	border-bottom: 1px solid rgb(46, 108, 186);
	
}

#comments p{
	color: rgb(23, 54, 93);
	text-align: justify;
}	

form{
	display: block;
	position: relative;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom:20px;
}

form input, texarea{
	padding-right: 0px;
}

#button{
	text-align: center;
	border-radius: 3px;
}

table#tabelaspec{

	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;	
}

table#tabelaspec td{
	padding: 10px;
	text-align: right;
	vertical-align: top;
}

table#tabelaspec td.ce{
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd{
	text-align: left;
}

/* ASIDE */

aside{
	position: relative;
	display: table-cell;
	width: 260px;
	padding: 0px;
	border-left: 1px solid rgb(46, 108, 186);
	background: linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	background: -webkit-linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	background: -o-linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	background: -moz-linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
}

.asar{
	top: -342px;
	position: relative;
	border-radius: 11px;
	padding: 10px;
	margin: 20px;
	background: linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	background: -webkit-linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	background: -o-linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	background: -moz-linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
}

#acord li p{
	text-align:center;
	margin: 1px;
	margin-right: 54px;
	border-radius: 5px;
	padding-left:  15px;
	padding-right: 15px;
	background: linear-gradient(left, rgba(227, 243, 246,.4), rgba(137, 173, 216,.4));
	background: -webkit-linear-gradient(left, rgba(227, 243, 246,.4), rgba(137, 173, 216,.4));
	background: -o-linear-gradient(left, rgba(227, 243, 246,.4), rgba(137, 173, 216,.4));
	background: -moz-linear-gradient(left, rgba(227, 243, 246,.4), rgba(137, 173, 216,.4));
}

#acord li p:hover{
	background: linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	background: -webkit-linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	background: -o-linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	background: -moz-linear-gradient(left, rgba(137, 173, 216,.4), rgba(227, 243, 246,.4));
	cursor: pointer;
}

.asar ul{
	padding-left: 40px;
	list-style-type: none;
}

.asar ul ul{
	padding-left: 30px;
	list-style-type: none;
	display: none;
}

.asar ul ul .active{
	display: block;
}
.asar a{
	color: #000;
	text-decoration: none;	
}

.asar a:hover{
	color: #000;
	text-decoration: underline;
}

.asar img{
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

/* FOOTER*/

footer{
	position: relative;
	//top: 1px;
	background-color: #003;
	//width: 100%;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
}

footer h3{
	color: #fff;
}

footer p{
	color: #fff;
}


footer a{
	font-style:italic;	
	color: rgb(46, 108, 186);
}

footer a:hover{
	text-decoration: none;
	color: #fff;
}

div#upfoot{
	display: table;
	width: 980px;	
}

.upart{
	display: table-cell;
	width:200px;
	padding: 40px;
	padding-bottom: 0px;
}

.upart2{
	display: table-cell;
	width:200px;
	padding: 40px;
	padding-bottom: 0px;
}
.upart1{
	display: table-cell;
	width:200px;
	padding: 40px;
	padding-bottom: 0px;
}

.upart1 nav{
	position: relative;
}

.upart1 img{
	position: relative;
	border-radius: 4px;
}

.upart1 a{
	position: relative;
	//left: 10px;
	top: -10px;
	line-height: 150%
}

#pop {
	color: rgba(239, 222, 205,.8);
}

.upart nav ul{
	padding-left: 40px;
	line-height: 100%;
	list-style: square;
	
}

div#lowfoot p{
	text-align: center;
	padding-bottom: 30px;
}

	
	



