@charset "utf-8";
/* CSS Document */


/* MAIN */

div#content{
	position: relative;
	display: table;
}

/* Left Side */

div#mainContent{
	display: table-cell;
	width: 745px;
	//height:180px;
	//padding: 14px;
	//border: 1px solid #F09;
	
}

#filme img{
	position: relative;
	border: 2px solid rgb(46, 108, 186);
	margin: 20px;;
	padding: 0px;
}

iframe{
	position: relative;
	border: 2px solid rgb(46, 108, 186);
	margin: 20px;
	padding: 0px;
}

/* Buttons */

table{
	position: relative;
	margin: 0px 20px 20px 20px;
	//border: 1px dashed red;
}

table tr{
	//border: 1px dashed green;
}

table td{
	//border: 1px dashed yellow;
}

 table button{
 	font-family:  Arial, sans-serif;
 	font-size: 14px;
	color: #fff; 
	font-weight: 700;
	//text-transform: uppercase;
	background: rgb(23, 54, 93);
	border: 2px solid rgb(46, 108, 186);
	//border: 2px solid rgb(157, 193, 236);
	list-style: none;
	position: relative;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	//padding-top: 1px;
	//padding-bottom: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 10px;
}

table button:hover{
	background: #003;
	cursor: pointer;	
}

.ce{
	width: 80px;
	text-align: center;
	vertical-align: middle;
}

.cd{
	width: 620px;
	text-align: center;
	vertical-align: middle;
}

.cb{
	width: 700px;
	text-align: justify;
	margin-bottom: 20px
}

#buttons ul{
	position: relative;
	float: right;
	width: 700px;
	margin-right: 20px;
	//border: 1px dashed red;
	vertical-align: middle;
}

#buttons ul h3{
	//border: 1px dashed red;
	text-align: center;
	margin: 0px 10px 10px 10px;
}

#buttons ul h1{
	font-family: "Century Schoolbook L", serif;
	//border: 1px dashed red;
	text-align: center;
	margin: 20px;
}

#buttons ul p{
	//font-family: "Times New Roman", serif;
	//border: 1px dashed red;
	//text-align: center;
	margin: 10px 0px 10px 0px;
}

#buttons ul li{
	//font-family:  Arial, sans-serif;
 	//font-size: 14px;
	//color: #fff; 
	//font-weight: 700;
	//text-transform: uppercase;
	//background: rgb(23, 54, 93);
	//border: 2px solid rgb(46, 108, 186);
	//border: 2px solid rgb(157, 193, 236);
	list-style: none;
	position: relative;
	float: left;
	//padding-left: 12px;
	//padding-right: 12px;
	//padding-top: 1px;
	//padding-bottom: 1px;
	//border-bottom-left-radius: 5px;
	//border-bottom-right-radius: 5px;
	//border-top-left-radius: 5px;
	//border-top-right-radius: 5px;
	//margin: 10px;		
}

#buttons ul a{
	font-size: 14px;
	color: #fff; 
	text-align: center;	
	text-decoration: none;
	display: block;
	font-weight: 700;	
}

#buttons ul li:hover{
	//background: #003;
	//cursor: pointer;	
}

button{
 	font-family:  Arial, sans-serif;
 	font-size: 14px;
	color: #fff; 
	font-weight: 700;
	//text-transform: uppercase;
	background: rgb(23, 54, 93);
	border: 2px solid rgb(46, 108, 186);
	//border: 2px solid rgb(157, 193, 236);
	list-style: none;
	position: relative;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0px 10px 20px 10px;
}

button:hover{
	background: #003;
	cursor: pointer;	
}

/* ASIDE */

aside{
	position: relative;
	display: table-cell;
	overflow-y: auto;
	width: 235px;
	border-left: 1px solid rgb(46, 108, 186);
	background: linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	background: -webkit-linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	background: -o-linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	background: -moz-linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8));
	//border: 3px solid #3F0;
	//z-index: 5;
	//padding-bottom: 0px;
}

ul#album-fotos{
	position: absolute;
	top: 14px;
	left: 39px;
	padding-top: 40px;
	padding-bottom: 0px;
	//overflow: auto;
	list-style: none;
	//height:630px;
	width: 175px;
	//border: 1px solid #00F;
	//margin-bottom: 0px;
}

ul#album-fotos li{
	//position: relative;
	//top: 10px;
	//float: left;
	width: 130px;
	height: 184px;
	margin-bottom: 10px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all 0.4s ease-in;
	z-index: 1;
	cursor: pointer;
	text-align: center;	
}

ul#album-fotos li span{
	position: relative;
	top: -15px;
	opacity: 0;
	color: #ffffff;
	text-shadow: #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;	
}

ul#album-fotos li:hover{
	-webkit-transform: scale(1.5);
}	

ul#album-fotos li:hover span{
	opacity: 1;
}

ul#album-fotos li#foto01{
	background: url(../_images/_posters/photo18.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: rgba(256, 256, 256, 0.1);
}

ul#album-fotos li#foto01:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto02{
	background: url(../_images/_posters/photo17.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: 200px 141px;
	background-color: #ffffff;
}

ul#album-fotos li#foto02:hover{
	background-position: 50% 50%;
	background-size: 130px 91px;	
}

ul#album-fotos li#foto03{
	background: url(../_images/_posters/photo16.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto03:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto04{
	background: url(../_images/_posters/photo15.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto04:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto05{
	background: url(../_images/_posters/photo14.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}
	
ul#album-fotos li#foto05:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto06{
	background: url(../_images/_posters/photo13.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;	
}

ul#album-fotos li#foto06:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto07{
	background: url(../_images/_posters/photo12.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto07:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto08{
	background: url(../_images/_posters/photo11.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto08:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto09{
	background: url(../_images/_posters/photo10.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}
	
ul#album-fotos li#foto09:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto10{
	background: url(../_images/_posters/photo9.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;	
}

ul#album-fotos li#foto10:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto11{
	background: url(../_images/_posters/photo8.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto11:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto12{
	background: url(../_images/_posters/photo7.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto12:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto13{
	background: url(../_images/_posters/photo6.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}
	
ul#album-fotos li#foto13:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto14{
	background: url(../_images/_posters/photo5.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;	
}

ul#album-fotos li#foto14:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto15{
	background: url(../_images/_posters/photo4.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;	
}

ul#album-fotos li#foto15:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto16{
	background: url(../_images/_posters/photo3.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto16:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto17{
	background: url(../_images/_posters/photo2.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}

ul#album-fotos li#foto17:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}

ul#album-fotos li#foto18{
	background: url(../_images/_posters/photo1.jpg) no-repeat;	
	background-position: 50% 50%;
	background-size: 195px 276px;
	background-color: #ffffff;
}
	
ul#album-fotos li#foto18:hover{
	background-position: 0px 0px;
	background-size: 130px 184px;	
}
